
.logo {
    background-color: #000000;
}
html{
    background-color: #000000;
}
main .disposition{
    width: 5rem;
    height: 2.765rem;
    background: #191919;
    border-radius: 0px 0px 0px 0px;
    opacity: 1;
    margin:1rem auto;
    margin-bottom: 0;
    display: flex;
}
li{ 
    list-style: none;
}
.disposition .disposition_one{ 
    /* color: white; */
    height: 100%;
    width: 2rem;

    padding: 0.14rem 0;
    box-sizing: border-box;
}
.disposition .disposition_one li{ 
    width: 100%;

    font-size:0.105rem ;
    color: #FFFFFF;
    text-align: center;
    height:10%;
    line-height:0.161rem ;
    letter-spacing: 2px;

}
.disposition_p4_font{ 
    color: #FFFFFF ;
    letter-spacing:0.021rem; 
    margin-top: 0.4rem;
}
.disposition_foot{ 
    margin-top: 0.077rem;
}
.disposition_line{ 
width: 1.225rem;
height: 0.028rem;
background: #D01010;
opacity: 1;
margin-left: 6.92rem;
color: white;
position: relative;
}
.disposition_line span{ 
    position: absolute;
    font-size: 0.224rem;
    top: -0.3rem;
    right: -0.3rem;
    letter-spacing: 0.035rem;

}
.disposition_buy{ 
    position: absolute;
    bottom: 0.231rem;
    right: 0.511rem;

    width: 0.819rem;
height: 0.217rem;
background: #D01010;
opacity: 1;
font-size: 0.112rem;
text-align: center;
line-height:  0.217rem;
letter-spacing: 0.014rem;
}
.disposition_buy a{ 
    text-decoration: none;
    color: white;
}
